@{
    ViewData["Title"] = "Về chúng tôi - Bệnh viện thú y Petshop";
    ViewData["BannerImageUrl"] = "https://tropicpet.vn/wp-content/uploads/2024/08/page-title-blog.jpg";
    Layout = "./Layout/_UserLayout";
}


<style>


</style>

<div class="mainContent">
</div> 