@{
    ViewData["Title"] = "Liên hệ - Bệnh viện thú y Petshop";
    Layout = "./Layout/_UserLayout";
}

<style>
    .route-banner {
        width: 100%;
        min-height: 340px;
        background-image: url(http://tropicpet.vn/wp-content/uploads/2021/05/bg-section-7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: scroll;
    }
</style>

<div class="mainContent">
    <div class="route-banner container-fluid d-flex justify-content-center align-items-center">
        <h1 class="text-white fw-bolder text-uppercase">Liên hệ</h1>

    </div>
    <div>
    </div>
</div>
