@{
    ViewData["Title"] = "Trang chủ - Bệnh viện thú y Petshop";
    ViewData["BannerImageUrl"] = "http://tropicpet.vn/wp-content/uploads/2021/05/bg-section-7.jpg";
    Layout = "./Layout/_UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Trang chủ</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
