@{
    ViewData["Title"] = "Dịch vụ - Bệnh viện thú y Petshop";
    ViewData["BannerImageUrl"] = "https://tropicpet.vn/wp-content/uploads/2021/05/slider-home1-img-3.jpg";
    Layout = "./Layout/_UserLayout";
}


<style>

</style>

<div class="mainContent">
</div> 