@{
    ViewData["Title"] = "Chuyên khoa - Bệnh viện thú y Petshop";
    Layout = "./Layout/_UserLayout";
}


<style>
    .route-banner {
        width: 100%;
        min-height: 340px;
        background-image: url(https://tropicpet.vn/wp-content/uploads/2024/03/membership-bgr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-attachment: scroll;
    }

    
</style>

<div class="mainContent">
    <div class="route-banner container-fluid d-flex justify-content-center align-items-center">
        <h1 class="text-white fw-bolder text-uppercase">Chuyên khoa</h1>
    </div>
   
</div> 