@{
    ViewData["Title"] = "Chuyên khoa - Bệnh viện thú y Petshop";
    ViewData["BannerImageUrl"] = "https://tropicpet.vn/wp-content/uploads/2021/05/bg-section-7.jpg";
    Layout = "./Layout/_UserLayout";
}


<style>



</style>

<div class="mainContent">
</div> 